
<div class="row-fluid">

	<div class="span12">
		<h1> <%= @project.name %> </h1>
		<hr />
	</div>

</div>

<div class="row-fluid">

	<div class="span6">
		
		<label style="font-weight:bold">Description:</label>

		<div>
			<%= @project.description %>
		</div>

		<div style="margin-top:20px">
			
		</div>

		<div style="margin-top:20px">
			<%= link_to "Back", projects_path %>
		</div>

	</div>

	<div class="span6">
		Hey there!
	</div>

</div>